/* @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100 & display=swap'); */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header .logo{
    position: relative;
    right: 450px;
    bottom: 250px;
}

body {
    background: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 400px;
    min-height: 50vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
    right: 100px;
}

main h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}


form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position:relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.imput-field underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::alter {
    transform: scaleX(1)
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0 ,0 ,0 , 0.7);
    width: 100%;
}

.input-fiel input::placeholder {
    color: rgba( 0, 0 , 0, 0.5)
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #69975e, #92e954);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #c0e2af, #72e954);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}
